<main class="pt-6 px-6 max-w-3xl mx-auto">
	<h1 class="text-3xl font-medium">Welcome!</h1>

	<div class="grid grid-cols-4 justify-items-center pt-12 pb-6">
		@if (configuration$ | async; as conf) {
			<app-label-value-stat label="Max Ticket Capacity" value="{{conf.maxTicketCapacity}}" />
		}

		@if (tickets$ | async; as data) {
			<app-label-value-stat label="Total Tickets" value="{{data.length}}" />
		}

		@if (customerCount$ | async; as customerCount) {
			<app-label-value-stat label="Customers" value="{{customerCount}}" />
		}

		@if (vendorCount$ | async; as vendorCount) {
			<app-label-value-stat label="Vendors" value="{{vendorCount}}" />
		}
	</div>

	<div class="flex flex-col mt-6 gap-2">
		<h2 class="font-medium text-neutral-200 text-lg">Ticket allocation</h2>
		<div class="grid grid-cols-[repeat(auto-fill,1rem)] gap-1">
			@if (tickets$ | async; as data) {
				@for (ticket of data; track ticket.id) {
					<app-allocation-tick
							[isBooked]="ticket.isBooked"
							[isCreated]="ticket.isCreated" />
				}
			}
		</div>

		<div class="grid grid-cols-3 text-sm text-neutral-400">
			<div class="inline-flex items-center gap-2">
				<span>Unreleased:</span>
				<app-allocation-tick [isBooked]="false" [isCreated]="false" />
			</div>
			<div class="inline-flex items-center gap-2">
				<span>Not booked: </span>
				<app-allocation-tick />
			</div>
			<div class="inline-flex items-center gap-2">
				<span>Booked: </span>
				<app-allocation-tick [isBooked]="true" />
			</div>
		</div>
	</div>

	<div class="grid grid-cols-2 justify-items-center mt-4">
		<app-button
				(click)="onAddVendor()"
				label="Add vendor (producer)"
				iconClass="ms--nest-wake-on-approach" />
		<app-button
				(click)="onAddCustomer()"
				label="Add customer (consumer)"
				iconClass="ms--person-add-rounded" />
	</div>

	<div class="flex justify-center pt-12">

		<button (click)="onStartStop()"
				class="inline-flex items-center justify-center text-center rounded-md gap-2 h-10 px-4 text-sm transition-colors"
				[ngClass]="showStop() ? 'bg-red-900/25 text-red-400' : 'text-green-400 bg-green-900/25'"
		>
			<div class="iconify ms--play-arrow-rounded size-6"></div>
			@if (showStop()) {
				End ticket release
			} @else {
				Start ticket release
			}
		</button>
	</div>
</main>
